{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "import"],
  "rules": {
    "array-bracket-spacing": ["warn", "never"],
    "arrow-body-style": ["warn", "as-needed"],
    "camelcase": "off",
    "comma-dangle": ["warn", "never"],
    "curly": ["warn", "multi-or-nest"],
    "indent": ["error", 2],
    "import/extensions": ["error", { "ts": "never", "tsx": "never" }],
    "import/no-unresolved": "off",
    "jsx-quotes": ["warn", "prefer-single"],
    "max-len": ["warn", { "code": 80 }],
    "no-lonely-if": "warn",
    "no-shadow": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-unused-expressions": "off",
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["warn", "before"],
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "react/no-array-index-key": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unused-prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-closing-bracket-location": [
      "warn",
      { "selfClosing": "after-props", "nonEmpty": "after-props" }
    ],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".ts", ".tsx"] }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "semi": ["warn", "always"],
    "spaced-comment": "off",
    "@typescript-eslint/quotes": [
      "warn",
      "single",
      { "allowTemplateLiterals": true }
    ],
    "@typescript-eslint/no-unused-vars": "off"
  }
}
